<template>
  <section id="vm-body">
    <div class="yt-bg-vid-wrapper" v-if="yt_show">
      <youtube class="yt-bg-vid" v-show="!yt_disableVideo" :video-id="yt_playing.id" @buffering="yt_OnPlayerBuffer" @ended="yt_OnPlayerEnd" @playing="yt_OnPlayerPlay" @paused="yt_OnPlayerPause" @ready="yt_OnPlayerReady" :player-vars="{ disablekb: 1, playlist: yt_playing.id, showinfo: 0, modestbranding: 1, fs: 0, iv_load_policy: 3, loop: 1, controls: 0, autoplay: 1 }" :mute="yt_disableAudio"></youtube>
      <div class="yt-bg-vid" v-if="yt_disableVideo">
        <img :src="yt_playing.thumbnail" />
      </div>
    </div>
    <transition @enter="enter" @leave="leave" mode="out-in"> 
      <WindowLogo v-if="win == 'win-logo'"></WindowLogo>
      <WindowHome v-bind="{ youtube: { player: yt_player, playing: yt_playing, funcs: yt_player_funcs, data: yt_playerData } }" v-else-if="win == 'win-home'"></WindowHome>
    </transition>
  </section>
</template>

<script>
import $ from '../jquery.loader.js';
import _ from 'lodash';

import Vue from '../vue.loader.js';
import youtube from '../youtube.funcs.js';
import storage from '../storage.funcs.js';

import Velocity from 'velocity-animate';

import WindowLogo from './win-logo.component.vue';
import WindowHome from './win-home.component.vue';

export default {
  components: {
	  WindowLogo,
		WindowHome
  },
  async created() {
		Vue.events.$on('setWindow', this.setWindow);
    Vue.events.$on('getWindow', this.gettWindow);
    Vue.events.$on('yt_backgroundOptions', this.yt_backgroundOptions);

    await this.yt_getPlaylist();
    if(this.yt_videoIdPool.length) {
      this.yt_playVideo(this.yt_videoIdPool[0]);
      this.yt_backgroundToggle(true); //
      this.setWindow('win-home');
    }
  },
	beforeDestroy: function () {
		Vue.events.$off('setWindow', this.setWindow);
    Vue.events.$off('getWindow', this.getWindow);
    Vue.events.$off('yt_backgroundOptions', this.yt_backgroundOptions);
	},
  data() {
    return {
      win: "win-logo",      
      yt_videoIdPool: [ ],
      yt_disableVideo: false,
      yt_disableAudio: true,
      yt_show: false,
      yt_playing: { },
      yt_player: undefined,
      yt_playerData: {
        isAd: 0,
        isPlaying: 0,
        seek: {
          current: 0,
          total: undefined
        }
      },
      yt_1s_timeout: undefined
    }
  },
  methods: {
    getRandomInt(max) {
      return Math.floor(Math.random()*Math.floor(max))
    },
    getWindow() {
      return this.win;
    },
    setWindow(win) {
      this.win = win;
    },
    yt_backgroundOptions(options) {
      for(let key in options) {
        this[`yt_${key}`] = options[key];
      }
    },
    yt_backgroundToggle(bool) {
      this.yt_show = bool;
    },
    async yt_getPlaylist() {
      try {
//      storage.data.playlists
        
        let playlist = { };
        playlist.data = await youtube.getPlaylist('PLr-T10zdqVfptaHsJ7SVME5htKQOoD7qd', { complete: true });
        playlist.nfo = await youtube.getPlaylistInfo('PLr-T10zdqVfptaHsJ7SVME5htKQOoD7qd');

        let videos = [];
        for(let item in playlist.data.items) {
          if(!playlist.data.items[item].snippet.thumbnails) continue;

          videos.push({ 
            id: playlist.data.items[item].contentDetails.videoId, 
            title: playlist.data.items[item].snippet.title, 
            thumbnail: (playlist.data.items[item].snippet.thumbnails.maxres) ? playlist.data.items[item].snippet.thumbnails.maxres.url : playlist.data.items[item].snippet.thumbnails.high.url,
            playlist: { title: playlist.nfo.items[0].snippet.title, author: playlist.nfo.items[0].snippet.channelTitle }
          })
        }
        this.yt_videoIdPool = _.shuffle(videos);
      }
      catch(err) {
        console.error(err);
      }
    },
    yt_playVideo(video) {      
      this.yt_resetData();
      this.yt_playing = video;      
    },
    yt_randomVideo() {
      let random = Math.floor(Math.random() * this.yt_videoIdPool.length);
      this.yt_playVideo(this.yt_videoIdPool[random]);
    },
    yt_clockwise() {
      this.yt_videoIdPool.push(this.yt_videoIdPool.shift());
      this.yt_playVideo(this.yt_videoIdPool[0]);
    },
    yt_counterclockwise() {
      this.yt_videoIdPool.unshift(this.yt_videoIdPool.pop());
      this.yt_playVideo(this.yt_videoIdPool[0]);
    },
    yt_OnPlayerReady(player) {
      this.yt_player = player;
      this.yt_player.setVolume(60);
      
      clearTimeout(this.yt_1s_timeout);
      this.yt_1s_timeout = setTimeout(this.yt_1s, 1000); // initiate the 1 second interval timer
    },
    yt_OnPlayerBuffer(player) {
      this.yt_playerData.isPlaying = 3;
    },
    yt_OnPlayerPlay(player) {
      this.yt_playerData.isPlaying = 1;
      this.yt_playerData.isAd = false;
      this.yt_updateSeek(); // force update seek time on video play
    },
    yt_OnPlayerPause(player) {
      this.yt_playerData.isPlaying = 0;
    },
    yt_OnPlayerEnd(player) {
      this.yt_clockwise(); // switch to the next video after video ending
    },
    yt_player_funcs() {
      let $this = this;
      return {
        next() {
          $this.yt_clockwise();
        },
        prev() {
          $this.yt_counterclockwise();
        },
        pause() {
          if ($this.yt_player.getPlayerState() == 1) {
            $this.yt_player.pauseVideo();
          }
          else if ($this.yt_player.getPlayerState() == 2) {
            $this.yt_player.playVideo();
          }
        }
      }
    },
    yt_updateSeek() {
      let player = this.yt_player
      this.yt_playerData.seek.current = player.getCurrentTime(); // get seek current time
      this.yt_playerData.seek.total = player.getDuration(); // get seek total time
    },
    yt_resetData() {
      this.yt_playerData.isAd = false; // reset ad status
      this.yt_playerData.isPlaying = 0; // reset playing status
      this.yt_playerData.seek.current = undefined; // reset seek current time
      this.yt_playerData.seek.total = undefined; // reset seek total time
    },
    yt_1s() {
      let player = this.yt_player;
      if(player) {
        if(this.yt_playerData.isPlaying == 1) this.yt_updateSeek();
        if(this.yt_playerData.isPlaying == 3) { // ad not playing already
          if(player.getCurrentTime() > 0 && typeof(this.yt_playerData.seek.total) == 'undefined') this.yt_playerData.isAd = true; // (buffering & time > 0) => ad currently playing
        }
        /*else {
          if(this.yt_playerData.isAd) this.yt_playerData.isAd = false; // ad not playing anymore
        }*/
      }
      this.yt_1s_timeout = setTimeout(this.yt_1s, 1000);
    },    
    enter(el, done) {
      let $el = $(el);
      $el.css({ opacity: 0 });
      Velocity(el, "stop");        
      Velocity(el, {
        opacity: 1
      }, { easing: "swing", duration: 400, complete: done })
    },
    leave(el, done) {
      let $el = $(el);
      Velocity(el, "stop");        
      Velocity(el, {
        opacity: 0
      }, { easing: "swing", duration: 400, complete: done })
    }
  }
}
</script>

<style lang="scss">
@import '~styles/defines/alignment.scss';
@import '~styles/defines/colours.scss';

section#vm-body {
  position: relative;
  height: 100%;
  width: 100%;

  div.yt-bg-vid-wrapper {
    div.yt-bg-vid {
      img, iframe {
        position: fixed;
        @include align-element('both', 50%);     
        z-index: -5;
      }
      img {
        width: 100%;
      }
      iframe {
        width: 105%;
        height: 105%;
        opacity: 0;
        animation: fade-in 1s linear 1s;
        animation-fill-mode: forwards;
      }
    }
  }
  div.window {
    width: 100%;
    height: 100%;
  }
}
</style>
