<template>
  <div v-if="type == 'big'" class="button" :class="type" :id="id">
    <span>{{icon}} {{text}}</span>
  </div>
</template>

<script>
export default {
  props: [ "id", "type", "col", "text", "icon" ]
}
</script>