<template>
  <div class="checkbox-wrapper" :class="[ name, color ]">
    <input type="checkbox" class="checkbox" :id="name" :name="name" v-model="value">
    <label :for="name" class="checkbox-label" :id="name">{{ label }}</label>
  </div>
</template>

<script>
export default {
	props: [ "name", "color", "label", "checked", "OnValueChanged" ],
	data() {
		return { 
			value: this.checked
		}
	},
	watch: {
  	value(newVal, oldVal) {
			this.OnValueChanged(this.name, oldVal, newVal);
    }
  }
}
</script>

<style lang="scss">
@import "~styles/defines/colours.scss";

div.checkbox-wrapper {
	margin: 5px;

	&.white {
		.checkbox-label {
			color: white;
		}
		.checkbox {
			& + .checkbox-label:before {
				border: 2px solid lighten(red, 20%);
				color: rgba(lighten(red, 20%), 0);
			}
			&:checked + .checkbox-label:before {
				color: lighten(red, 20%);			
			}
		}
	}

	.checkbox-label {
		display: flex;
		align-items: center;
		position: relative;		
		color: $light-red;
		font-size: 12px;
		cursor: pointer;

		transition: color .15s linear, text-shadow .15s linear;
		&:hover {
			color: lighten($light-red, 10%); 
			text-shadow: 0 0 1px $light-red !important;
		}

		&:before {
			content: '\e5ca';
			background-color: $dark-red;
			font-family: 'Icon';
			text-shadow: none;
		}
	}

	.checkbox {
		position: absolute;
		visibility: hidden;

		& + .checkbox-label:before {
			margin-right: 5px;
			border: 2px solid $light-red;		
			border-radius: 2px;
			color: rgba($light-red, 0);		
			transition: color .15s linear;
		}

		&:checked + .checkbox-label:before {
			color: $light-red;
		}
		
	}
}
</style>
