<template>
  <section id="vm-footer">
    <label class="appmap-1">Placeholder</label>
    <label class="appmap-2">Placeholder</label>
    <label class="copyright"><span>Copyright © 2018</span><span>Youtube Functions</span><span>Some rights reserved</span></label>
    <label class="appmap-3">Placeholder</label>
    <label class="appmap-4">Placeholder</label>
  </section>
</template>

<script>
export default { }
</script>

<style lang="scss">
@import '~styles/defines/colours.scss';

section#vm-footer {
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 6px 50px 6px 50px;
  z-index: 5;

  label {
    margin-left: 4px;
    margin-right: 4px;

    &.copyright {
      flex: 1;
      text-align: center;
      span {
        margin-left: 1px; margin-right: 1px;
        padding-left: 10px; padding-right: 10px;
        border-right: 1px solid $red;
        border-left: 1px solid $red;				
        &:first-child {
          border-left: 0;
        }
        &:last-child {
          border-right: 0;
        }
      }
    }
  }  
}
</style>
