<template>
  <div v-if="type == 1" class="loading" :id="id">
    <div class="loader"></div>
    <span class="text" id="text-loading">Loading application</span>
  </div>
</template>

<script>
export default {
  props: [ "type" ],
  data() {
    return { id: `loading-${this.type}` }
  }
}
</script>

<style lang="scss">
.loading {
  &#loading-1 {
    display: flex;
    align-items: center;

    .loader {
      position: relative;
      width: 16px;
      height: 16px; 
      border: 2px solid red;
      border-left: transparent;
      border-top: transparent;
      border-radius: 50%;
      animation: spin 1s linear infinite;
    }

    span.text {
      margin-left: 5px; margin-right: 5px;
    }
  }
}
</style>