<template>
  <div class="nowplaying" :class="[ { show: show }, fx ]">
    <i class="icon" id="icon-playing"></i>
    <label id="nowplaying-label">{{ yt_playing }}</label>
    <div class="overflow-wrapper">
      <span id="nowplaying-title">{{ yt_title }}</span>
    </div>
    <div id="nowplaying-controls">
      <i class="icon animated lnk" id="icon-previous" @click="youtube.funcs().prev()"></i>
      <i class="icon animated lnk" :class="[ youtube.data.isPlaying == 1 ? 'pause' : 'play' ]" id="icon-play-pause" @click="youtube.funcs().pause()"></i>
      <i class="icon animated lnk" id="icon-next" @click="youtube.funcs().next()"></i>
    </div>
    <div id="nowplaying-playlist">
      <span>{{ youtube.playing.playlist.title }}</span> by <span>{{ youtube.playing.playlist.author }}</span>
    </div>
    <div id="nowplaying-seekbar" @click="yt_seekTo">
      <div class="fill" :style="{ width: `${yt_seekBar}%` }"></div>
      <span>{{ yt_time }}</span>
    </div>
  </div>
</template>

<script>
import _ from 'lodash';

export default {
  props: [ "youtube",  "animate" ],
  data() {
    return {
      show: !this.animate || false,
      fx: this.animate,
      fxtimer: undefined
    }
  },
  computed: {
    yt_title() {
      if(this.youtube.data.isAd) return `Advertisement`
      return this.youtube.playing.title 
    },
    yt_playing() {
      if(!this.youtube.data.isAd && typeof(this.youtube.data.seek.total) == 'undefined') return `LOADING`;
      if(this.youtube.data.isPlaying == 3 && typeof(this.youtube.data.seek.total) != 'undefined') return `BUFFERING...`;

      return `NOW PLAYING`
    },
    yt_elapsedTime() {
      if(typeof(this.youtube.data.seek.current) == 'undefined') return `--:--`

      return `${_.padStart(Math.floor(this.youtube.data.seek.current/60), 2, '0')}:${_.padStart(Math.floor(this.youtube.data.seek.current%60), 2, '0')}`
    },
    yt_totalTime() {
      if(typeof(this.youtube.data.seek.total) == 'undefined') return `--:--`

      return `${_.padStart(Math.floor(this.youtube.data.seek.total/60), 2, '0')}:${_.padStart(Math.floor(this.youtube.data.seek.total%60), 2, '0')}`
    },
    yt_time() {     
      return `${this.yt_elapsedTime} / ${this.yt_totalTime}`
    },
    yt_seekBar() {
      return Math.floor((this.youtube.data.seek.current/this.youtube.data.seek.total)*100) || 0;
    }
  },
  mounted() {
    this.slidePlaying();
  },
  methods: {
    yt_seekTo(evt) {
      this.youtube.player.seekTo((evt.offsetX/evt.target.offsetWidth)*this.youtube.data.seek.total || 0);
    },
    slidePlaying() {
      if(!this.fx) return;

      let self = this;
      self.show = true;

      clearTimeout(this.fxtimer);
      this.fxtimer = setTimeout(() => { this.show = false }, 20000);
    }
  },
  watch: {
    yt_title() {
      this.slidePlaying();
    }
  }
  
}
</script>

<style lang="scss">
@import "~styles/defines/colours.scss";

div.nowplaying {
  display: grid;
  align-items: center;
  justify-content: flex-start;
  justify-items: flex-start;
  grid-column-gap: 10px;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto auto;
  grid-template-areas: "icon label" "icon title" "controls playlist" "seekbar seekbar";
  position: relative;
  max-width: 35%;
  padding: 0 30px 10px 10px;
  border: 1px solid $border-red-1;
  border-left: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;  
  background-color: rgba($dark-red, .6);
  &.slide {
    &.right {
      transform: translateX(-95%);

      &.show {
        transform: translateX(0);
      }

      &:not(.show):hover {
        transform: translateX(0);
      }
    }
  }
  transition: transform .8s ease;
  
  .icon#icon-playing {
    grid-area: icon;
    font-size: 500%;
  }

  #nowplaying-label {
    grid-area: label;
    align-self: flex-end;
    justify-self: flex-start;
    position: relative;
    top: 2px;
    font-size: 16px;
    font-weight: bold;
    color: $light-red;

    &:after {
      //content: "";
      border-bottom: 1px solid $light-red;
      position: absolute;
      bottom: -2px;
      left: 0;
      right: 0;
    }
  }

  .overflow-wrapper {
    grid-area: title;
    align-self: flex-start;
    display: inherit;
  }
  #nowplaying-title {
    color: lighten($light-red, 10%);
    font-size: 14px;
    line-height: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  #nowplaying-controls {
    grid-area: controls;
    justify-self: stretch;
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 1px;

    .icon:hover {
      color: lighten($light-red, 20%);
    }
  }
  #nowplaying-playlist {
    grid-area: playlist;
    span {
      color: lighten($light-red, 10%);
    }
  }
  #nowplaying-seekbar {
    grid-area: seekbar;
    justify-self: stretch;
    position: relative;
    margin-top: 8px;
    padding: 2px 0 2px 0;
    border: 1px solid $border-red-1;
    text-align: center;
    overflow: hidden;
    cursor: pointer;

    > * {
      pointer-events: none;
      position: relative;
    }

    .fill {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 0%;
      background-color: rgba(darken($default-red, 20%), .5);
    }
  }
}
</style>
