<template>
  <section id="vm-title-bar">
    <div class="buttons">
      <i class="icon animated lnk" :id="icon_minimize" @click="minimize()"></i>
      <i class="icon animated lnk" :id="icon_maximize" @click="maximize()"></i>
      <i class="icon animated lnk" :id="icon_settings" @click="settings()"></i>
      <i class="icon animated lnk" :id="icon_close" @click="close()"></i>
    </div>
  </section> 
</template>

<script>
const electron = window.require("electron");
const { remote } = electron;

export default {
	data() {
    return {
      isMini: false,
      icon_minimize: "icon-minimize-app",
      icon_maximize: "icon-maximize-app",
      icon_settings: "icon-settings-app",
      icon_close: "icon-close-app"
    }
  },
  methods: {
    minimize() {
      let win = remote.BrowserWindow.getFocusedWindow();
      win.minimize();
    },
    maximize() {
      let { width, height } = electron.screen.getPrimaryDisplay().workAreaSize,
          newWidth, 
          newHeight;

      this.isMini = !this.isMini;
      let ratio = (this.isMini) ? .8 : .9;

      newWidth = width * ratio;
      newHeight = height * ratio;

      let win = remote.BrowserWindow.getFocusedWindow();
      win.setSize(Math.floor(newWidth), Math.floor(newHeight), true);
      win.center();
      
      this.icon_maximize = (this.isMini) ? 'icon-maximize-app-mini' : 'icon-maximize-app';
    },
    settings() {
      
    },
    close() {
      let win = remote.BrowserWindow.getFocusedWindow();
      win.close();
    }
  }
}
</script>

<style lang="scss">
@import '~styles/defines/colours.scss';

section#vm-title-bar {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  cursor: default;
  -webkit-app-region: drag;
  z-index: 5;

  .buttons {
    display: flex;    
    align-items: center;
    float: right;
    -webkit-app-region: no-drag;

    .icon {
      margin: 5px 6px 5px 6px;
      font-weight: bold;
      &#icon-minimize-app {
        margin-top: 10px;
        margin-bottom: 0;
      }
      &:hover {
        color: lighten($light-red, 20%);
      }
    }
  }
}
</style>
