<template>
  <div class="window" id="win-home">
    <div class="cover" id="cover-black"></div>
    <div class="upper">
      <div class="settings">
        <checkbox name="disableVideo" label="Disable Video" v-bind="{ OnValueChanged: yt_backgroundOptions }" :checked="false"></checkbox>
        <checkbox name="disableAudio" label="Disable Audio" v-bind="{ OnValueChanged: yt_backgroundOptions }" :checked="true"></checkbox>
      </div>
      <div class="yt-logo">
        <img src="~assets/images/yt_logo_rgb_dark.png" />
        <span>functions</span>
        <div class="yt-patch">
          <i class="icon" id="icon-tools"></i>
        </div>        
      </div>
    </div>    
    <div class="middle">
      <panel name="" icon="" label="Listen" description=""></panel>
      <panel name="" icon="" label="Shuffle" description=""></panel>
      <panel name="" icon="" label="Download" description=""></panel>
      <!--<btn id="ph1" type="big" col="red" text="Placeholder1" icon="X"></Button>
      <btn id="ph2" type="big" col="red" text="Placeholder2" icon="X"></Button>
      <btn id="ph3" type="big" col="red" text="Placeholder3" icon="X"></Button>-->
    </div>    
    <div class="lower">
      <nowplaying v-bind="{ youtube }" animate="slide right"></nowplaying>
    </div>    
  </div>
</template>

<script>
import Vue from '../vue.loader.js';

import btn from './button.component.vue';
import checkbox from './checkbox.component.vue';
import panel from './panel.component.vue';
import nowplaying from './nowplaying.component.vue';

export default {
  components: {
    btn,
    checkbox,
    panel,
    nowplaying
  },
  props: [ "youtube" ],
  data() {
    return { }
  },
  methods: {
    yt_backgroundOptions(name, oldVal, newVal) {
      let option = { };
      option[name] = newVal;
      Vue.events.$emit('yt_backgroundOptions', option);
    }
  }
}
</script>

<style lang="scss">
@import "~styles/defines/colours.scss";

div.window#win-home {
  display: flex;
  flex-direction: column;
  .cover {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: .6;
    z-index: -1;

    &#cover-black {
      background-color: black;
    }
  }
  .upper {
    flex: 0 0 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    position: relative;
    background-color: rgba(black, .4);

    .settings {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      padding: 5px;
    }

    .yt-logo {
      position: relative;
      width: 20%;
      text-align: right;
      text-shadow: none;
      img {
        width: 100%;
      }
      span {
        position: relative;
        top: -5px;
        color: white;
      }

      .yt-patch {       
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 15%;
        left: 1%;
        width: 30%;
        height: 54%;
        background-color: red;
        
        .icon#icon-tools {
          color: white;
          font-size: 35px;          
        }
      }
    }    
  }
  .middle {
    flex: 1;
    position: relative;
  }
  .lower {
    flex: 0 0 20%;
    display: flex;
    align-items: center;
    position: relative;
    background-color: rgba(black, .4);
  }
}
</style>

