<template>
  <div class="window" id="win-logo">
    <div class="yt-logo">
      <img src="~assets/images/yt_logo_rgb_dark.png" />
      <div class="yt-logo-patch"></div>
      <div class="yt-logo-play">
        <div class="yt-play-fx"></div>
      </div>
    </div>
    <span class="status">Checking your connection</span>
  </div>
</template>

<script>
export default { }
</script>

<style lang="scss">
@import "~styles/defines/colours.scss";

div.window#win-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  .yt-logo {
    position: relative;
    width: 100%;
    text-align: center;
    img {
      width: 50%;
    }
    .yt-logo-patch {
      position: absolute;
      top: 25%;
      left: 29%;
      width: 8%;
      height: 50%;
      background-color: $red;
      
      opacity: 0;
      animation: delay 0s ease;
      animation-delay: .1s;
      animation-fill-mode: forwards;
    }
    .yt-logo-play {
      display: flex;
      align-items: center;
      position: absolute;
      top: 25%;
      left: 25.05%;
      width: 15.8%;
      height: 50%;
      overflow: hidden;
      border-radius: 25%;

      opacity: 0;
      animation: delay 0s ease;
      animation-delay: .1s;
      animation-fill-mode: forwards;
      .yt-play-fx {
        position: absolute;
        left: 45%;
        border-top: 2.5em solid transparent;        
        border-right: transparent;
        border-left: 4em solid white;
        border-bottom: 2.5em solid transparent;
        animation: yt-swing 1.5s ease infinite;
      }
    }
  }
  .status {
    margin-top: 5px;
  }
}
@keyframes delay {
  0% {
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
</style>


