$default: darken(#00aaff, 20%);
$teal: #00dfa6;
$teal-border: #00936d;
$cyan: #00aaff;
$cyan-border: darken($cyan, 10%);
$dark-cyan: #04142e;
$darker-cyan: #001625;
// Red
$default-red: #ff2121;
$red: #ff0000;
$redish: #ff6347;
$light-red: #ff3737;
$icon-red: #ff2121;
$border-red-1: #cc0000;
$border-red-2: #880000;
$accent-red: #aa0000;
$dark-red: #220000;
// Yellow
$yellow-mustard: #a68e42;