@import './colours.scss';

.icon {
  font-family: 'Icon';
  color: $icon-red;

  &.animated {
    transition: color .2s ease;
  }

  &.lnk {
    cursor: pointer;
  }

  &#icon-playing:before {
    content: "\f16a";
  }

  &#icon-previous:before {
    content: "\f04a";
  }

  &#icon-play-pause.play:before {
    content: "\f04b";
  }

  &#icon-play-pause.pause:before {
    content: "\f04d";
  }  

  &#icon-next:before {
    content: "\f04e";
  }

  &#icon-tools:before {
    content: "\e906";
  }

  &#icon-minimize-app:before {
    content: "\e902";
  }
  
  &#icon-maximize-app:before {
    content: "\e901";
  }

  &#icon-maximize-app-mini:before {
    content: "\e900";
  }

  &#icon-settings-app:before {
    content: "\e908";
  }

  &#icon-close-app:before {
    content: "\e5cd";
  }
}
