@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,700');
@font-face { font-family: 'Icon'; src: url('~assets/fonts/icons.ttf?ver=2.015'); font-weight: normal; }

@import './clean.scss';
@import "./defines/icons.scss";
@import "./defines/fx.scss";
@import './defines/colours.scss';

body {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0; 
  left: 0;  
  background-color: #220000;
	color: $light-red;
	text-shadow: 1px 1px 0 #000;
  font-family: 'Lato';
	font-size: 13px;
  font-weight: normal;
	user-select: none;
	border-top: 2px solid $red;
	border-left: 1px solid darken($red, 30%);
	border-right: 2.5px solid darken($red, 30%);
	border-bottom: 2px solid darken($red, 30%);
	overflow: hidden;
}

section#vm-overlay {
  position: absolute;
}